<!-- Seu HTML atualizado com redirecionamento usando Angular -->
<div class="container">
  <div class="content">
    <div class="header">
      <div class="title">
        <img src="../assets/logo.png" alt="Logo" class="logo">
        <h1>NOK Studio</h1>
      </div>
      <p>Studio indie de games, desenvolvendo o Sacred War: Rise of the Guardian</p>
    </div>
    <div class="button-container">
      <button class="instagram" (click)="redirect('https://www.instagram.com/nooneknowsstudio/')">
        <i class="fab fa-instagram"></i> Instagram
      </button>
      <button class="youtube" (click)="redirect('https://www.youtube.com/channel/UCn-aLh0Elaj0H4s03JieGdw')">
        <i class="fab fa-youtube"></i> YouTube
      </button>
      <button class="tiktok" (click)="redirect('https://www.tiktok.com/@nok_studio')">
        <i class="fab fa-tiktok"></i> TikTok
      </button>
      <button class="twitter" (click)="redirect('https://twitter.com/_nokstudio')">
        <i class="fab fa-twitter"></i> Twitter
      </button>
      <button class="discord" (click)="redirect('https://discord.gg/5dQAaAC3ac')">
        <i class="fab fa-discord"></i> Discord
      </button>
    </div>
  </div>
</div>
